.front-text-panel {
  box-shadow: #eee 2px 5px 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -30px;
  width: 200px;
  height: 70px;
  background-color: #fff;
  font-family: $headings-font-family;
}

.items {
  float: left;
  position: relative;
}

.img-setting {
  margin: 5px;
  width: 300px;
  height: 300px;
}
