.page.page-images-detail {

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image-wrapper {
    flex-grow: 1;
    align-self: stretch;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 800px;
  }

  .image-details {
    width: 340px;
    padding-left: 30px;
    flex-shrink: 0;

    .caption {
      margin-top: -5px;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .page.page-images-detail {
    .image-container {
      display: block;

      .image-wrapper {
        height: auto;
        margin-bottom: $grid-gutter-width / 4;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .image-details {
        padding: 0;
        margin-bottom: $grid-gutter-width;

        .caption {
          margin-bottom: $grid-gutter-width / 4;
          font-size: 15px
        }

        h5 {
          font-size: 14px;
          padding-top: 0;
        }
      }
    }
  }
}
