.page.page-images {
  .image-grid {
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .img.img-thumb {
      height: 350px;
      width: 350px;
      margin: 5px;
      background: $gray-lighter;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      .caption {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px 20px;
        color: #fff;
        line-height: 1.3;
        font-family: $headings-font-family;
        font-size: 13px;
        background: rgba(0,0,0,0.5);
      }
    }
  }
}

.page.page-images-detail {

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image-wrapper {
    flex-grow: 1;
    align-self: stretch;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 800px;
  }

  .image-details {
    width: 300px;
    padding-left: 15px;
    flex-shrink: 0;

    .caption {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .page.page-images-detail {
    .image-container {
      display: block;

      .image-wrapper {
        height: auto;
        margin-bottom: $grid-gutter-width / 4;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .image-details {
        padding: 0;
        margin-bottom: $grid-gutter-width;

        .caption {
          margin-bottom: $grid-gutter-width / 4;
          font-size: 15px
        }

        h5 {
          font-size: 14px;
          padding-top: 0;
        }
      }
    }
  }
}
